body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 20px;
  overflow-x: hidden;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  color: #0076ff;
  text-decoration: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid white;
}

a:hover {
  border-bottom: 1px solid #0076ff;
}
